fastapi
pydantic
pandas
psutil
python-dotenv
PyMuPDF
scikit-learn
boto3
uvicorn
python-multipart
google-generativeai
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
aiofiles
openpyxl

