fastapi
pydantic
pandas
psutil
python-dotenv
PyMuPDF
scikit-learn
boto3
uvicorn
python-multipart
google-generativeai>
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx>=0.23.0
aiofiles>=0.8.0
openpyxl

